# Created by .ignore support plugin (hsz.mobi)
Supprimerait .idea/Labo-1.iml
Supprimerait .idea/inspectionProfiles/
Supprimerait .idea/modules.xml
Supprimerait .idea/workspace.xml
Supprimerait package.json
